<h2 class="clearfix">記事一覧
  <span class="right"><%= link_to "新規登録", new_admin_article_path, class: "btn btn-default" %></span>
</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artiles.each do |artile| %>
      <tr>
        <td><%= artile.artile %></td>
        <td><%= link_to '詳細', artile %></td>
        <td><%= link_to '編集', edit_admin_article_path(artile) %></td>
        <td><%= link_to '削除', artile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New artile', new_admin_article_path %>
