<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <%= @artile.title %>
</p>
<p>
  <strong>body:</strong>
  <%= @artile.body %>
</p>
<p>
  <strong>pv:</strong>
  <%= @artile.pv %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@artile) %> |
<%= link_to 'Back', admin_articles_path %>
