<table class="table table-hover">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%== @article.body %></td>
    </tr>
    <tr>
      <th>タグ</th>
      <td><%= @article.tag_list %></td>
    </tr>
  </tbody>
</table>

<h3>コメント一覧</h3>
<% @article.comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"><%= comment.name %></h4>
      <%= simple_format comment.body %>
    </div>
  </div>
<% end %>

<h3>コメントする</h3>
<%= form_for @article.comments.build, url: article_comments_path(@article), html: { class: "form-comment" } do |f| %>
  <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
  <%= f.text_area :body, class: "form-control", placeholder: "本文" %>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>
