<% form_for [@article, :comments] do |f| %>
  <% @article.title%>
  <%= f.text_field :name %>
  <%= f.text_field :body %>
  <% f.submit, "コメントする" %>
<% end %>
<table class="table table-hover">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= article.title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= article.body %></td>
    </tr>
  </tbody>
</table>

<%# TODO コメント一覧のデザイン 実装待ち %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">名前</h4>
    本文
  </div>
</div>

<% form_for [@article, :comments] do |f| %>
  <% @article.title%>
  <%= f.text_field :name %>
  <%= f.text_field :body %>
  <% f.submit, "コメントする" %>
<% end %>
