<table class="table table-hover">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= @article.body %></td>
    </tr>
  </tbody>
</table>
<table class="table table-hover">
  <tbody>
    <% @article.comments.each do |comment| %>
      <tr>
        <th>投稿者名</th>
        <td><%= comment.name %></td>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_for @article.comments.build, url: article_comments_path(@article) do |f| %>
  <% @article.title%>
  <%= f.text_field :name %>
  <%= f.text_field :body %>
  <%= f.submit "コメントする" %>
<% end %>
