<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex,follow">
  <title>Simpleblog</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
<div id="wrapper">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Simpleblog", "#", class: "navbar-brand" %>
      </div><!-- /.navbar-header -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div><!--/.row -->
    </div>
  </div> <!-- /.container -->

  <div id="push"></div>
</div><!-- /#wrap -->

<div id="footer">
  <div class="container">
    <p class="text-muted credit">Simpleblog</p>
  </div>
</div>
</body>
</html>
